.Sorting {
  display: flex;
  flex-direction: column;
  background-color: var(--grid-item-bg);
  box-shadow: 0px 6px 24px rgba(93, 62, 188, 0.04);
  border-radius: 2px;
  padding: 26px 24px;
  margin-bottom: 24px;
}

.Sorting div {
  margin: 10px 0;
}

.title {
  color: var(--header);
  margin-bottom: 12px;
  line-height: 17.7px;
  font-family: 'Open-Sans';
  font-size: 13px;
}

.Sorting label {
  color: #525252;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio {
  border-radius: 50%;
  cursor: pointer;
}
